{% load i18n %}
{% load avatar_tags %}

{% if is_me %}
    <div class="tribes">
        <h2>{% trans "Your Groups" %}</h2>
        {% if other_user.tribe_set.all %}
            {% for tribe in other_user.tribe_set.all %}
                <a href="{% url tribes.views.tribe tribe.slug %}">{{ tribe.name }}</a>
            {% endfor %}
        {% else %}
            {% url tribe_thing_list "" as tribe_url %}
            <p>{% blocktrans %}You are not yet a member of any <a href="{{ tribe_url }}">groups</a>.{% endblocktrans %}</p>
        {% endif %}
    </div>
    <div class="friends">
        <h2>{% trans "Your Friends" %}</h2>
        {% if other_friends %}
            <div>
                {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <div>
                        <div class="avatar">{% avatar friendship.friend 40 %}</div>
                        <div class="details"><a href="{% url profiles.views.profile friendship.friend.username %}" title="{{ friendship.friend.username }}">{{ friendship.friend.username }}</a></div>
                    </div>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</div>{% endif %}
                {% endfor %}
                {% if other_friends|length|divisibleby:"3" %}{% else %}</div>{% endif %}
            </div>
        {% else %}
            <p>{% blocktrans %}None. You should look at the list of <a href="/profiles/">profiles</a> and see if there's anyone you know.{% endblocktrans %}</p>
        {% endif %}
    </div>
<div class = "photo_block">
<h2>{% trans "Photos" %}</h2>

    {% if owner.added_photos.all %}
        <div class="clearfix">
        {% for photo in owner.added_photos.all %}
            <div class="gallery-photo-thumb">
                <a href="/photos/details/{{ photo.id }}/"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
            </div>
        {% endfor %}
        </div>
    {% else %}
       {% trans "No photos uploaded yet." %}
    {% endif %}
</div>
{% endif %}

{% if is_friend %}
    <div class="tribes">
        <h2>{% blocktrans %}{{ other_user }}'s Groups{% endblocktrans %}</h2>
        {% if other_user.tribe_set.all %}
            {% for tribe in other_user.tribe_set.all %}
                <a href="{% url tribes.views.tribe tribe.slug %}">{{ tribe.name }}</a>
            {% endfor %}
        {% else %}
            <p>{% blocktrans %}Not yet a member of any groups.{% endblocktrans %}</p>
        {% endif %}
    </div>
    <div class="friends">
        <h2>{% blocktrans %}{{ other_user }}'s Friends{% endblocktrans %}</h2>
        <div>
            {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <div>
                    <div class="avatar">{% avatar friendship.friend 40 %}</div>
                    <div class="details"><a href="{% url profiles.views.profile friendship.friend.username %}" title="{{ friendship.friend.username }}">{{ friendship.friend.username }}</a></div>
                </div>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</div>{% endif %}
            {% endfor %}
        {% if other_friends|length|divisibleby:"3" %}{% else %}</div>{% endif %}
        </div>
    </div>

<div class = "greyborder">
<h2>{% trans "Photos" %}</h2>

    {% if owner.added_photos.all %}
        <div class="clearfix">
        {% for photo in owner.added_photos.all %}
            <div class="gallery-photo-thumb">
                <a href="/photos/details/{{ photo.id }}/"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
            </div>
        {% endfor %}
        </div>
    {% else %}
       {% trans "No photos uploaded yet." %}
    {% endif %}
</div>
{% endif %}
