{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% blocktrans %}Search{% endblocktrans %}{% endblock %}



{% block body %}


    {% if query %} 
        <h2>Results for "{{ query|escape }}":</h2> 
        {% if results %} 
            <ul> 
                {% for item in results %} 
                <li>
                    <a href="{{ item.get_absolute_url }}">{{ item.obj_title }}</a>
                    <p>{{ item.obj_description }}</p>


                </l1> 
                {% endfor %} 
            </ul> 
        {% else %} 
            <p>Nothing</p> 
        {% endif %} 
    {% endif %}    


{% endblock %}





