{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="a_group_tab"{% endblock %}

{% block subnav %}
    <ul>
        {% if user.is_authenticated %}
            <li><a href='{% url your_groups "a" %}'>{% trans "Your A" %}</a></li>
        {% endif %}
        <li><a href='{% url group_list "a" %}'>{% trans "All A" %}</a></li>
    </ul>
{% endblock %}

{% block head_title %}{% blocktrans %}Create A-Group{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Create A-Group" %}</h1>
    
    <p>An A-Group is just a particular type of group for demo and test purposes.</p>
    <form id="start-group" method="POST" action='{% url group_create "a" %}'>
        <table>
            {{ group_form }}
            <tr><td></td><td><input type="submit" value="{% trans 'create' %}"/></td></tr>
        </table>
    </form>
{% endblock %}
