{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="a_group_tab"{% endblock %}

{% block subnav %}
    <ul>
        {% if user.is_authenticated %}
            <li><a href='{% url your_groups "a" %}'>{% trans "Your A" %}</a></li>
        {% endif %}
        <li><a href='{% url group_list "a" %}'>{% trans "All A" %}</a></li>
    </ul>
{% endblock %}

{% block head_title %}A-Group: {{ group.name }}{% endblock %}

{% block body %}
    <h1>{{ group.name }}</h1>
    
{% endblock %}
