{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="a_group_tab"{% endblock %}

{% block subnav %}
    <ul>
        {% if user.is_authenticated %}
            <li><a href='{% url your_groups "a" %}'>{% trans "Your A" %}</a></li>
        {% endif %}
        <li><a href='{% url group_list "a" %}'>{% trans "All A" %}</a></li>
    </ul>
{% endblock %}

{% block head_title %}{% blocktrans %}A-Groups{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "A-Groups" %}</h1>
    
    <p>An A-Group is just a particular type of group for demo and test purposes.</p>
    {% if user.is_authenticated %}
        <div class="form-toggle">
            <p><span id="start-group-toggle">{% trans "Start your own a-group" %}</span></p>
            <form id="start-group" method="POST" action='{% url group_create "a" %}'>
                <table>
                    {{ group_form }}
                    <tr><td></td><td><input type="submit" value="{% trans 'create' %}"/></td></tr>
                </table>
            </form>
        </div>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own A-Group or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
    {% if groups %}
        <ul>
        {% for group in groups %}
            <li><a href='{% url group_detail "a" group.slug %}'>{{ group }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#start-group').hide();
            $('#start-group-toggle').click(function() {
                $('#start-group').slideToggle();
                $('#start-group').autoscroll();
                return false;
            });
            if ($('#start-group ul.errorlist').length) {
                $('#start-group').show();
                $('#start-group ul.errorlist').autoscroll();
            }
        });
    </script>
{% endblock %}
