{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    {% blocktrans %}
        <p><b>Spacebook</b> is a social networking web 2.0 project created to support the NASA Science Mission Directorate and the rest of NASA. It is built using an aggregation of open source tools including 
<a href="http://python.org/">Python</a>,
<a href="http://djangoproject.com/">Django</a>,
<a href="http://pinaxproject.com/">Pinax</a>, and a lot of other projects. By leveraging these tools and the support of their communities, we have had the fortune of being able to steer the direction of these tools in direction that more suits the needs of NASA and the Federal Government at large.</p>
        
    {% endblocktrans %}
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        
        <p><b>{% blocktrans %}At this stage, there is openid support, email verification, password management, site announcements, user-to-user messaging, friend invitation (both internal and external to the site), a basic twitter clone, interest groups, projects with basic task and issue management, threaded discussions, wikis, blogging, bookmarks, contact import (from vCard, Google or Yahoo), photo management and a notification framework.{% endblocktrans %}</b></p>
    {% endif %}
    
{% endblock %}
