{% extends "blog/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Write a Blog Post{% endblocktrans %}{% endblock %}

{% block body %}

    <div id="basic-form">
        <fieldset>
        <form method="POST" action="" class="uniForm">

                <legend>Write a blog post</legend>
            {% for field in blog_form %}                
                <div 
                class="ctrlHolder {% if field.errors %}error{% endif %}"
                {% ifequal field.name "tease" %}id="teaser" style="display: none;" {% endifequal %}>
                {% for error in field.errors %}
                    <p class="errorField">
                        <strong>{{ error }}</strong>
                    </p>       
                {% endfor %} 
                {{ field.label_tag }}
                {{ field.help_text }}
                {% ifequal field.name "body" %}
                <a href="#" onclick="$('#teaser').toggle(); return false;">{% trans "Teaser" %}</a>
                {% endifequal %}                
                {{ field }}
            </div>     
            {% endfor %}  
            
            <div class="form_block">
                <input type="hidden" name="action" value="create" />
                <input type="submit" value="create" class = "button"/>
            </div>            
       
        </form>
            </fieldset>  
    </div>

{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#blog_form').validate('{% url blog_form_validate %}', {type: 'table'});
        });
    </script>
{% endblock %}
